<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/style.css" rel="stylesheet">
    <title>Employee Management</title>

    <style>
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2{
    color: grey;
}

div.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    border-radius: 5px;
    margin: 50px 200px;
    padding: 20px 30px;
}        

input{
    color: grey;
}       
    </style>
</head>
<body>
    <div class="card">
        <h2>Welcome to Employee Management</h2>
        <p>This project manage employees</p>
    </div>

    <div class="card">
        <input type="text", id="msg" placeholder="Enter Mesage"><br><br>
        <button type="submit">Send</button>
    </div>
</body>
</html>